<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (card(); as cardRef) {
      <div>
        <h2 data-cy="cardDetailsHeading"><span jhiTranslate="pokeStockApp.card.detail.title">Card</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ cardRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="pokeStockApp.card.tcgId">Tcg Id</span></dt>
          <dd>
            <span>{{ cardRef.tcgId }}</span>
          </dd>
          <dt><span jhiTranslate="pokeStockApp.card.setCode">Set Code</span></dt>
          <dd>
            <span>{{ cardRef.setCode }}</span>
          </dd>
          <dt><span jhiTranslate="pokeStockApp.card.number">Number</span></dt>
          <dd>
            <span>{{ cardRef.number }}</span>
          </dd>
          <dt><span jhiTranslate="pokeStockApp.card.name">Name</span></dt>
          <dd>
            <span>{{ cardRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="pokeStockApp.card.rarity">Rarity</span></dt>
          <dd>
            <span>{{ cardRef.rarity }}</span>
          </dd>
          <dt><span jhiTranslate="pokeStockApp.card.superType">Super Type</span></dt>
          <dd>
            <span>{{ cardRef.superType }}</span>
          </dd>
          <dt><span jhiTranslate="pokeStockApp.card.types">Types</span></dt>
          <dd>
            <span>{{ cardRef.types }}</span>
          </dd>
          <dt><span jhiTranslate="pokeStockApp.card.imageUrl">Image Url</span></dt>
          <dd>
            <span>{{ cardRef.imageUrl }}</span>
          </dd>
          <dt><span jhiTranslate="pokeStockApp.card.legalities">Legalities</span></dt>
          <dd>
            <span>{{ cardRef.legalities }}</span>
          </dd>
          <dt><span jhiTranslate="pokeStockApp.card.set">Set</span></dt>
          <dd>
            @if (card()!.set) {
              <div>
                <a [routerLink]="['/card-set', card()!.set?.id, 'view']">{{ cardRef.set?.code }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/card', cardRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
