<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-trade-item-heading" data-cy="TradeItemCreateUpdateHeading" jhiTranslate="pokeStockApp.tradeItem.home.createOrEditLabel">
        Crear o editar Trade Item
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="pokeStockApp.tradeItem.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let quantityRef = editForm.get('quantity')!;
        <div class="mb-3">
          <label class="form-label" for="field_quantity" jhiTranslate="pokeStockApp.tradeItem.quantity">Quantity</label>
          <input type="number" class="form-control" name="quantity" id="field_quantity" data-cy="quantity" formControlName="quantity" />
          @if (quantityRef.invalid && (quantityRef.dirty || quantityRef.touched)) {
            <div>
              @if (editForm.get('quantity')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('quantity')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '1' }"
                  >Este campo debe ser mayor que 1.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('quantity')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        @let sideRef = editForm.get('side')!;
        <div class="mb-3">
          <label class="form-label" for="field_side" jhiTranslate="pokeStockApp.tradeItem.side">Side</label>
          <input type="text" class="form-control" name="side" id="field_side" data-cy="side" formControlName="side" />
          @if (sideRef.invalid && (sideRef.dirty || sideRef.touched)) {
            <div>
              @if (editForm.get('side')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_trade" jhiTranslate="pokeStockApp.tradeItem.trade">Trade</label>
          <select class="form-control" id="field_trade" data-cy="trade" name="trade" formControlName="trade" [compareWith]="compareTrade">
            <option [ngValue]="null"></option>
            @for (tradeOption of tradesSharedCollection; track $index) {
              <option [ngValue]="tradeOption">{{ tradeOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_card" jhiTranslate="pokeStockApp.tradeItem.card">Card</label>
          <select class="form-control" id="field_card" data-cy="card" name="card" formControlName="card" [compareWith]="compareCard">
            <option [ngValue]="null"></option>
            @for (cardOption of cardsSharedCollection; track $index) {
              <option [ngValue]="cardOption">{{ cardOption.name }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
