<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (userProfile(); as userProfileRef) {
      <div>
        <h2 data-cy="userProfileDetailsHeading"><span jhiTranslate="pokeStockApp.userProfile.detail.title">User Profile</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ userProfileRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="pokeStockApp.userProfile.bio">Bio</span></dt>
          <dd>
            <span>{{ userProfileRef.bio }}</span>
          </dd>
          <dt><span jhiTranslate="pokeStockApp.userProfile.location">Location</span></dt>
          <dd>
            <span>{{ userProfileRef.location }}</span>
          </dd>
          <dt><span jhiTranslate="pokeStockApp.userProfile.favoriteSet">Favorite Set</span></dt>
          <dd>
            <span>{{ userProfileRef.favoriteSet }}</span>
          </dd>
          <dt><span jhiTranslate="pokeStockApp.userProfile.playstyle">Playstyle</span></dt>
          <dd>
            <span>{{ userProfileRef.playstyle }}</span>
          </dd>
          <dt><span jhiTranslate="pokeStockApp.userProfile.avatar">Avatar</span></dt>
          <dd>
            @if (userProfileRef.avatar) {
              <div>
                <a (click)="openFile(userProfileRef.avatar ?? '', userProfileRef.avatarContentType)">
                  <img
                    [src]="'data:' + userProfileRef.avatarContentType + ';base64,' + userProfileRef.avatar"
                    style="max-width: 100%"
                    alt="userProfile"
                  />
                </a>
                {{ userProfileRef.avatarContentType }}, {{ byteSize(userProfileRef.avatar ?? '') }}
              </div>
            }
          </dd>
          <dt><span jhiTranslate="pokeStockApp.userProfile.user">User</span></dt>
          <dd>
            <span>{{ userProfileRef.user?.login }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/user-profile', userProfileRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
