<div>
  <h2 id="page-heading" data-cy="UserProfileHeading">
    <span jhiTranslate="pokeStockApp.userProfile.home.title">User Profiles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="pokeStockApp.userProfile.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-user-profile"
        [routerLink]="['/user-profile/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pokeStockApp.userProfile.home.createLabel">Crear nuevo User Profile</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (userProfiles().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="pokeStockApp.userProfile.home.notFound">Ningún User Profiles encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="bio">
              <div class="d-flex">
                <span jhiTranslate="pokeStockApp.userProfile.bio">Bio</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="location">
              <div class="d-flex">
                <span jhiTranslate="pokeStockApp.userProfile.location">Location</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="favoriteSet">
              <div class="d-flex">
                <span jhiTranslate="pokeStockApp.userProfile.favoriteSet">Favorite Set</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="playstyle">
              <div class="d-flex">
                <span jhiTranslate="pokeStockApp.userProfile.playstyle">Playstyle</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="avatar">
              <div class="d-flex">
                <span jhiTranslate="pokeStockApp.userProfile.avatar">Avatar</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="user.login">
              <div class="d-flex">
                <span jhiTranslate="pokeStockApp.userProfile.user">User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (userProfile of userProfiles(); track trackId(userProfile)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/user-profile', userProfile.id, 'view']">{{ userProfile.id }}</a>
              </td>
              <td>{{ userProfile.bio }}</td>
              <td>{{ userProfile.location }}</td>
              <td>{{ userProfile.favoriteSet }}</td>
              <td>{{ userProfile.playstyle }}</td>
              <td>
                @if (userProfile.avatar) {
                  <a (click)="openFile(userProfile.avatar, userProfile.avatarContentType)">
                    <img
                      [src]="'data:' + userProfile.avatarContentType + ';base64,' + userProfile.avatar"
                      style="max-height: 30px"
                      alt="userProfile"
                    />
                  </a>
                  <span>{{ userProfile.avatarContentType }}, {{ byteSize(userProfile.avatar) }}</span>
                }
              </td>
              <td>
                {{ userProfile.user?.login }}
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/user-profile', userProfile.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>

                  <a [routerLink]="['/user-profile', userProfile.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(userProfile)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
